<section>
  <div class="inner">
    <div class="row">
      <div class="4u 12u$(medium)">
        <section>
          <div class="contact-method">
            <span class="icon alt fa-envelope"></span>
            <h3>Email</h3>
            <a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a>
          </div>
        </section>
      </div>
      <div class="4u 12u$(medium)">
        <section>
          <div class="contact-method">
            <span class="icon alt fa-phone"></span>
            <h3>Phone</h3>
            <span>{{ site.phone }}</span>
          </div>
        </section>
      </div>
      <div class="4u 12u$(medium)">
        <section>
          <div class="contact-method">
            <span class="icon alt fa-home"></span>
            <h3>Address</h3>
            <span>
            {% if site.street_address %}
                {{ site.street_address }}<br />
            {% endif %}
            {% if site.city %}
                {{ site.city }},
            {% endif %}
            {% if site.state %}
                {{ site.state }}
            {% endif %}
            {% if site.zip_code %}
                {{ site.zip_code }}<br />
            {% endif %}
            {% if site.country %}
                {{ site.country }}
            {% endif %}
            </span>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div>
    <style>.embed-container { position: relative; padding-bottom: 36.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.021376139191!2d-96.63221074875052!3d40.82749413837674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8796bc5d1389e7d5%3A0x13efae522210bcfa!2s1432%20N%20Cotner%20Blvd%2C%20Lincoln%2C%20NE%2068505!5e0!3m2!1sen!2sus!4v1577422039856!5m2!1sen!2sus' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen=''></iframe></div>
  </div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.googleplus_url %}
				<li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
				{% endif %}
				{% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.pinterest_url %}
				<li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
				{% endif %}
				{% if site.500px_url %}
				<li><a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a></li>
				{% endif %}
				{% if site.gitlab_url %}
				<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				{% endif %}
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.slack_url %}
				<li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
				{% endif %}
				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>

<!-- Attributions
  Design: https://html5up.net
  Jekyll integration: http://andrewbanchi.ch : Andrew Banchich
-->
