<section id="home-schedule">
  <div class="inner">

    <header class="major">
      <h2>Upcoming Events</h2>
    </header>
    <div class="row">
      <div class="12u">
        <ul class="actions">
          <li><a href="/calendar" class="button">See All Events</a></li>
        </ul>
      </div>
    </div>
    <header class="major">
      <h2>Ongoing Events</h2>
    </header>
    <div class="row">
      <div class="6u 12u$(small)">
        <h3>JOAD (Junior Olympic Archery Development)</h3>
        <p>Tuesdays at 6 p.m. & 7:30 p.m.</p>
        <p><b>Upcoming 2025 Sessions:</b><br>
        January 7 - March 11<br>
        April 8 - June 17<br>
        July 15 - September 16<br>
        October 14 - December 16</p>
        <p><b>JOAD Instructors:</b><br>
        Steve Woitaszewski: 402-450-3427<br>
        Harry Windle: 402-450-4276<br>
        Arlie Elsasser 402-560-8747</p>
        <p>All archery equipment is  provided to train with during classes.<br>
        Those who have their own archery equipment are welcome to bring it to class.</p>
      </div>
      <div class="6u$ 12u$(small)">
          <h3>Target League</h3>
          <p>Mondays at 7 p.m.<br>
          Per shoot: $5 (membership not required)</p>
          <h3>3D League</h3>
          <p>Thursdays at 7 p.m., setup at 6<br>
          <b>No 3D Leage on 1/19!!</b><br>
          Per shoot: $5 (membership not required)</p>
      </div>
    </div>
    <ul class="actions">
      <li><a href="/calendar" class="button">See All Events</a></li>
    </ul>
</section>
