---
pagination:
  enabled: true
---
<!DOCTYPE html>
<!--
    Forty by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
  -->
<html>

  {% include head.html %}

  <body>

    {% include header.html %}


    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
	<div class="inner">
          {% for post in paginator.posts %}
	  {% if post.title != 404 %}
	  <header class="major">
	    <h1><a href="{{ post.url }}" alt="{{ post.title }}" title="{{ post.title }}">{{ post.title }}</a></h1>
	  </header>
    {% if post.image %}
      {% if post.image contains 'http' %}
        <span class="image main"><img src="{{ post.image }}" alt="" /></span>
      {% else %}
        <span class="image main"><img src="{{ site.baseurl }}/{{ post.image }}" alt="" /></span>
      {% endif %}
    {% endif %}
	  {% if post.updated %}
      <p><i>Updated: {{ post.updated | date_to_string: "ordinal", "US" }}</i></p>
    {% elsif post.date %}
      <p><i>Posted: {{ post.date | date_to_string: "ordinal", "US" }}</i></p>
    {% endif %}
	  <p>{{ post.excerpt }}</p>
    <ul class="actions">
      <li><a href="{{ post.url }}" class="button next" alt="{{ post.title }}" title="{{ post.title }}">Read More</a></li>
    </ul>
	  {% endif %}
          {% endfor %}

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
     <ul class="actions">
    {% if paginator.previous_page %}
     <li class="prev"><a href="/posts/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}{% endif %}">Previous</a></li>
    {% endif %}
     <li><a class="button small{% if paginator.page == 1 %} special{% endif %}" href="/posts/">1</a></li>
    {% for count in (2..paginator.total_pages) %}
     <li><a class="button small{% if paginator.page == count %} special{% endif %}" href="/posts/page{{ count }}">{{ count }}</a></li>
    {% endfor %}
    {% if paginator.next_page %}
     <li class="next"><a href="/posts/page{{ paginator.next_page }}">Next</a></li>
    {% endif %}
     </ul>
    </div>
    {% endif %}
	</div>
      </section>

    </div>

    {% include footer.html %}

  </body>

</html>
