<!DOCTYPE html>
<!--
    Forty by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
  -->
<html>

  {% include head.html %}

  <body>

    {% include header.html %}


    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
	<div class="inner">
          {% for post in site.posts %}
	  {% if post.title != 404 %}
	  <header class="major">
	    <h1><a href="{{ post.url }}" alt="{{ post.title }}" title="{{ post.title }}">{{ post.title }}</a></h1>
	  </header>
    {% if post.image %}
      {% if post.image contains 'http' %}
        <span class="image main"><img src="{{ post.image }}" alt="" /></span>
      {% else %}
        <span class="image main"><img src="{{ site.baseurl }}/{{ post.image }}" alt="" /></span>
      {% endif %}
    {% endif %}
	  {% if post.updated %}
      <p><i>Updated: {{ post.updated | date_to_string: "ordinal", "US" }}</i></p>
    {% elsif post.date %}
      <p><i>Posted: {{ post.date | date_to_string: "ordinal", "US" }}</i></p>
    {% endif %}
	  <p>{{ post.excerpt }}</p>
    <ul class="actions">
      <li><a href="{{ post.url }}" class="button next" alt="{{ post.title }}" title="{{ post.title }}">Read More</a></li>
    </ul>
	  {% endif %}
          {% endfor %}
	</div>
      </section>

    </div>

    {% include footer.html %}

  </body>

</html>
