<!DOCTYPE html>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button scrolly">Learn More</a></li>
                    <li><a href="/get-started" class="button special icon fa-rocket">Join Us</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        {% include home_schedule.html %}

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="two">
          {{ content }}
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
