<!DOCTYPE html>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

{% include head.html %}

<body>

    {% include header.html %}


<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		<header class="major">
			<h1>{{ page.title }}</h1>
		</header>
		{% if page.image %}
      {% if page.image contains 'http' %}
        <span class="image main"><img src="{{ page.image }}" alt="" /></span>
      {% else %}
        <span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>
      {% endif %}
    {% endif %}
    {% if page.updated %}
      <p><i>Updated: {{ page.updated | date_to_string: "ordinal", "US" }}</i></p>
    {% elsif page.date %}
      <p><i>Posted: {{ page.date | date_to_string: "ordinal", "US" }}</i></p>
    {% endif %}
		<p>{{ content }}</p>
    <ul class="actions">
      {% if page.back_path %}
      <li><a href="{{ page.back_path }}" class="button previous">{{ page.back_text }}</a></li>
      {% else %}
      <li><a href="/posts" class="button previous">Go Back</a></li>
      {% endif %}
    </ul>
	</div>
</section>

</div>

    {% include footer.html %}

</body>

</html>
